//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title Danh sách sản phẩm
//-     body 
//-         h1 Danh sách sản phẩm

extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.mv-3 
        .row 
            .col-12 
                +box-head("Danh sách sản phẩm")

        .row 
            each item in products 
                .col-4.mb-3 
                    .product-item 
                        .inner-image 
                            img(src=item.thumbnail, alt=item.title)
                        .inner-content 
                            h3.inner-title #{item.title}
                            .inner-price-new #{item.priceNew}$
                            .inner-price-old #{item.price}$
                            .inner-discount -#{item.discountPercentage}%