.sider
  .inner-menu
    ul 
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      if(role.permission.includes("products_view"))
        li
          a(href=`/${prefixAdmin}/products`) Danh sách sản phẩm
      if(role.permission.includes("products-category_view"))
        li
          a(href=`/${prefixAdmin}/products-category`) Danh mục sản phẩm
      if(role.permission.includes("roles_view"))
        li
          a(href=`/${prefixAdmin}/roles`) Nhóm quyền
      if(role.permission.includes("roles_permissions"))
        li
          a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
      if(role.permission.includes("accounts_view"))
        li
          a(href=`/${prefixAdmin}/accounts`) Tài khoản admin

      li
        a(href=`/${prefixAdmin}/settings/general`) Cài đặt chung